@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .stepper {
    @apply lg:mt-20 lg:mx-auto mx-auto border-2 border-sky-100 px-10 pt-10 pb-8;
  }
  .stepper-desc {
    @apply mt-2 text-lg font-light tracking-widest;
  }
  .stepper-title {
    @apply lg:text-4xl text-2xl font-semibold;
  }
  .step-form {
    @apply border-2 border-amber-600 lg:w-3/6 w-3/4 lg:mx-0 mx-auto  lg:pl-[4em];
  }
  .step-list {
    @apply flex  lg:flex-row flex-col items-center lg:gap-4 gap-2 lg:text-xl lg:text-left text-center text-base font-light capitalize;
  }
  .step-number-actived {
    @apply border-2 border-slate-100 rounded-full w-10 h-10  flex items-center justify-center;
  }
  .step-number {
    @apply border-2 border-slate-500 rounded-full w-10 h-10  flex items-center justify-center;
  }
  .step-active {
    @apply text-slate-100;
  }
  .form-title {
    @apply text-4xl font-bold capitalize;
  }
  .form-desc {
    @apply text-xl font-normal tracking-wide text-slate-400;
  }
  .form-group {
    @apply flex flex-col gap-3;
  }
  .next-button {
    @apply py-2 px-6 bg-sky-600 hover:bg-sky-500 text-white rounded-xl transition ease-in-out;
  }
  .back-button {
    @apply text-slate-400 hover:text-slate-300 font-semibold transition ease-in-out;
  }
  .input-form {
    @apply border-2 border-slate-200 text-xl py-2 px-4 rounded-lg outline-none;
  }
  .button-form-group {
    @apply flex flex-row justify-evenly text-xl pt-16;
  }
}
